html{
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
#menu
{
  background-color: transparent;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
ul.navbar-nav { 
  float:right;
  text-align:center;
}
ul.navbar-nav li 
{
  padding: 0 10px;
}
@media only screen and (max-width:767px)
{ ul.navbar-nav { float:none; } }
.container-fluid {
  padding: 0 1em;
}
.navbar-nav li a
{
  color:white!important;
  font-size:1.2em;
  font-family: Century gothic,sans-serif;
  font-weight:600;
  transition: 0.4s ease;
}
.navbar-nav li a:hover
{
  color:#fff!important;
  background-color: #7289da!important;
}
.navbar-brand {
  padding:10px 15px!important;
}
a.navbar-brand .fa-globe
{
  font-size: 30px;
  color: black;
  transition:0.5s ease;
}
a.navbar-brand .fa-globe:hover
{
  color: #3935e6;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black!important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff!important;
}

.container {
  margin: 0 auto;
  max-width: 996px;
  text-decoration: none;
  color: white;
}
.splash {
  background:url("/src/buuyaxd.png") no-repeat fixed center bottom;
	background-size: cover;
	color: #fff;
}

.splash .container {
  padding-top: 15vh; /* No JS fallback*/
  padding-bottom: 10vh; /* No JS fallback*/
}

.profile-image {
  border-radius: 50%;
  display: block;
  max-height:250px;
  max-width: 250px;
  margin: 0 auto 1em;
  width: 100%;
  opacity: 0.85;
}

.splash h1 {
  font-size: 40px;
  margin-bottom: .15em;
  text-align: center;
}

.splash .lead, .splash .continue {
  display: inline-block;
  text-align: center;
}
h1.intro-text
{
  margin:0;
  color:#fff;
}
.splash .lead {
  font-size: 30px;
  margin-bottom: 1em;
  font-family: Rockwell;
}
.navbar-inverse
{
  border:none!important;
}
.splash .continue {
  font-size: 3em;
  display:block;
}

.splash .continue a {
  border: 2px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height:40px;
  font-size:30px;
}
.splash .continue a:hover {
  background-color: rgba(255, 255, 255, .25);
}
#about,#portfolio,#contact
{
  padding-top:4em!important;
}
section h2 {
    margin: 0;
    font-size: 3em;
}
section.success {
    color: #fff;
    background: #23272a;
  padding: 2%;
}

section.success a
{
  color:black;
  transition: 0.4s ease;
}
section.success a:hover {
    outline: 0;
    color: #fff;
  border: 2px solid #fff;
}
.contact-button
{
  padding-bottom:2%;
}
hr.star-light,hr.star-portfolio {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 3px;
    text-align: center;
}

hr.star-light:after,hr.star-portfolio:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}
hr.star-portfolio {
    border-color: white;
}
hr.star-portfolio:after {
    color: black;
    background-color: #eee;
}
hr.star-light:after {
    color: #fff;
    background-color: rgb(13, 79, 136);
}
p.content-text { font-size: 25px; }

/* PORTFOLIO */
.portfolio-eve1{
    box-shadow: 0px 2px 5px #60c0ea;
    background: #eee;
    border-radius: 4px;

}

.portfolio-eve1:hover{
	box-shadow: 0px 10px 10px #60c0ea;
  cursor: not-allowed;
}

.portfolio-ben2{
  box-shadow: 0px 2px 5px #ea9a59;
  background: #eee;
  border-radius: 4px;

}

.portfolio-ben2:hover{
box-shadow: 0px 10px 10px #ea9a59;
cursor: pointer
}

.portfolio-pea3{
  box-shadow: 0px 2px 5px #62ea71;
  background: #eee;
  border-radius: 4px;

}

.portfolio-pea3:hover{
box-shadow: 0px 10px 10px #62ea71;
cursor: pointer;
}

.portfolio-kal4{
box-shadow: 0px 2px 5px #ea7799;
background: #eee;
border-radius: 4px;

}

.portfolio-kal4:hover{
box-shadow: 0px 10px 10px #ea7799;
cursor: not-allowed;
}

.portfolio-log5{
  box-shadow: 0px 2px 5px #d4ea58;
  background: #eee;
  border-radius: 4px;

}

.portfolio-log5:hover{
box-shadow: 0px 10px 10px #d4ea58;
cursor: not-allowed;
}

.portfolio-num6{
box-shadow: 0px 2px 5px #aa54ea;
background: #eee;
border-radius: 4px;

}

.portfolio-num6:hover{
box-shadow: 0px 10px 10px #aa54ea;
cursor: not-allowed
}

.portfolio-container-holder{
	background: #23272a;
	padding-bottom: 20px;
}


.portfolio-card-holder{
	padding: 5px;
	margin-bottom: 5px;
}

.portfolio-img{
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.portfolio-img-desc{
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #fff;
	color: #000;
	text-align: center;
	padding: 5px;
}

/* ========================
Footer
======================== */

footer {
  background-color: #23272a;
  color:  #fff;
  font-size: 1.5em;
  text-align: center;
  padding:2%;
}
a.tel,a.tel:hover
{
  text-decoration:none;
  color:#fff;
}
a.social-button {
	background: #fff;
	font-size: 20px;
	border-radius: 50%;
	margin: 5px;
}
.address-container{
	display: inline-block;
	margin: 0 auto;
}
a.link-twitter,a.link-youtube,a.link-github,a.link-instagram
{
  transition:0.4s ease;
}
a.link-twitter
{
  color:#1DA1F2;
}

a.link-youtube
{
  color:#282828;
}
a.link-github
{
  color:#171515;
}
a.link-instagram
{
  color:#e95950;
}
a.link-twitter:hover{
	background-color: #1DA1F2;
	color: #fff;
}

a.link-youtube:hover{
	background-color: #FF0000;
	color: #fff;
}

a.link-github:hover{
	background-color: #171515;
	color: #fff;
}
a.link-instagram:hover{
	background-color: #e95950;
	color: #fff;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: transparent!important;
}
.fa-heart {
  color:#f32323;
}
h4.author
{
  letter-spacing:4px;
}
hr.footer-hr
{
  width:50%;
}
hr.copyright
{
  opacity:0.4;
}